<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j.kafka.appender">
    <Properties>
        <Property name="filename">target/test.log</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <AdvancedKafka name="AdvancedKafka" topicPattern="log-test">
            <PatternLayout pattern="%date %message"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </AdvancedKafka>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="AdvancedKafka"/>
        </Root>
        <Logger name="org.apache.kafka" level="INFO"/> <!-- avoid recursive logging -->
    </Loggers>
</Configuration>