<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
               packages="com.github.hayrullahcansu.log4j2.advanced.kafka.appender">
    <Properties>
        <Property name="filename">target/test.log</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <AdvancedKafka name="AdvancedKafka" topicPattern="platform.%property{component}.%class.%method.%level">
            <PatternLayout pattern="%d [%t] %-5p %m%n"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </AdvancedKafka>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="AdvancedKafka"/>
        </Root>
        <Logger name="org.apache.kafka" level="INFO"/> <!-- avoid recursive logging -->
    </Loggers>
</Configuration>